header {
    text-align: center;
    .container {
        margin: auto 5%;
        h1 {
            font-size: 50px;
        }
        p {
            margin: 0%;
        }
        a:nth-child(4) {
            // margin-top: 50px;
            svg {
                display: none;
            }
        }
    }

}
