header {
    text-align: center;
    padding: 3%;
    .container {
        border-bottom: 20px double black;
        padding-bottom: 20px;
        h1 {
            font-size: 60px;
            @include breakpoint(large) {
                font-size: 100px;
            }
            
        }
        p {
            margin: 0%;
        }
        a {
            color: black;
        }

        .link-github {
            text-decoration: none;
            svg {
                filter: opacity(0%);
                width: 11px;
                height: 11px;
            }
        }

        a:nth-child(4):hover {
            svg {
                filter: opacity(100%);
            }
        }
    }

}
