nav {
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0px;
        margin: 5px 15px;
    
        @include breakpoint(large) {
            justify-content: center;
            margin: 5px 2px;
        }
    
        li {
            margin: 5px 10px;
            text-align: center;
            font-size: 18px;
        }
    
        a {
            display: inline-block;
            width: 155px;
            height: 45px;
            background-color: $color-primary;
            border-radius: $border-radius;
            text-decoration: none;
            color: $color-secondary-alt;
            line-height: 45px;
        }

        a:hover {
            background-color: $color-primary-alt;
            color: $color-secondary;
        }
    }
}

