body {
    background-image: url(../sass/images/vintage-paper-background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
<<<<<<< HEAD
=======
}

a {
    color: black;
}

a:hover {
    color: #401E01;
>>>>>>> 12d45fa5959218ca14af7463e39d3697bb87f3b4
}